<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= settings.title %></title>  <!-- 取出app set 的 title值-->
</head>
<body>
    <h1>Photos</h1>
    <p>Express stock photo application</p>
<div id="photos">
    <% photos.forEach(function(photo) { %>
    <div class="photo">
        <h2><%=photo.name%></h2>
         <img src='<%=photo.path%>'/>
    </div>
    <% }) %>
</div>
</body>
</html>